
/**
 * @file
 * Theme Builder CSS
 */

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.none {
  display: none;
}
#content p.color-box {
  display: block;
  float: right;
  width: auto;
  background-color: #000000;
  padding: 0.5em;
  border: 1px solid black;
}
#content p.color-box span {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1.2em;
  display: block;
  float: left;
  text-align: center;
  padding: 0.2em;
  margin: 0.1em;
}
.red {
  color: #FFFFFF; 
  background-color: #FF0000;
}
.blue {
  color: #FFFFFF; 
  background-color: #0000FF;
}
.yellow {
  color: #000000;
  background-color: #FFFF00;
}

.orange {
  color: #000000;
  background-color: #FFA500;
}
.green {
  color: #FFFFFF; 
  background-color: #008000;
}
.violet {
  color: #FFFFFF; 
  background-color: #EE82EE;
}

#content div.preview-body p {
  background-color: transparent;
}

table.preview-table  {
  width: auto;
}

/* Hide table for block in the short preview */
.tb_preview_block div.preview-page,
.tb_preview_block div.preview-head {
/*  width: 16em;*/
}
.tb_preview_block div.preview-sidebar-left {
/*  width: 3.5em;*/
}
.tb_preview_block div.preview-content {
/*  width: 8em;*/
}
.tb_preview_block div.preview-sidebar-right {
/*  width: 4em;*/
}
div.noimages,
div.noimages div,
div.noimages div div {
  background-image: none !important;
}




.cell_editable {
  color: green;
  background-color: yellow;
  border: 1px solid black;
  font-weight: bold;
}
.cell_content {
  color: white;
  background-color: #666666;
  border: 1px solid black;
  font-weight: bold;
}
.cell_sidebar {
  color: white;
  background-color: #666666;
  border: 1px solid black;
  font-weight: bold;
}
.cell_page {
  color: #666699;
  background-color: #E6E6E6;
  border: 1px solid black;
  font-weight: bold;
}
.cell_page_screen {
  color: #FF6633;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}
.cell_page_max {
  color: red;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}
.software-menu {
  background-color: #FBFBFB;
  border: 1px solid #ccc;
}

/* Applications */
.jedit {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/jedit.png") no-repeat 0 50%;
}
.bluefish {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/bluefish.png") no-repeat 0 50%;
}
.inkscape {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/inkscape.png") no-repeat 0 50%;
}
.drupal {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/drupal.png") no-repeat 0 50%;
}
.gimp {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/gimp.png") no-repeat 0 50%;
}
.agave {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/agave.png") no-repeat 0 50%;
}
.openofficeorg_1 {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/openofficeorg_1.png") no-repeat 0 50%;
}
.openofficeorg_2 {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/openofficeorg_2.png") no-repeat 0 50%;
}
.scribus {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/scribus.png") no-repeat 0 50%;
}
.access {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/access.png") no-repeat 0 50%;
}
.help {
  padding: 3px 4px 3px 23px;
  background: url("images/apps/help.png") no-repeat 0 50%;
}

/* Categories */
.browser {
  padding: 3px 4px 3px 23px;
  background: url("images/categories/applications-internet.png") no-repeat 0 50%;
}
.kcoloredit,
.template,
.templates,
.theme {
  padding: 3px 4px 3px 23px;
  background: url("images/categories/applications-graphics.png") no-repeat 0 50%;
}
.generate {
  padding: 3px 4px 3px 23px;
  background: url("images/categories/applications-system.png") no-repeat 0 50%;
}

/* Status */
.info,
div.info {
  list-style-type: none;
  padding: 3px 4px 3px 23px;
  background: url("images/status/info.png") no-repeat 0 50%;
}
.warning,
div.warning,
ul li.warning {
  list-style-type: none;
  padding: 3px 4px 3px 23px;
  margin: 0px;
  background: url("images/status/warning.png") no-repeat 0 50%;
}
.error,
div.error,
ul li.error {
  list-style-type: none;
  padding: 3px 4px 3px 23px;
  margin: 0px;
  background: url("images/status/error.png") no-repeat 0 50%;
}

/* Emplems */
.ok,
ul li.ok {
  list-style-type: none;
  padding: 3px 4px 3px 23px;
  background: url("images/emblems/emblem-default.png") no-repeat 0 50%;
}
.important,
ul li.important {
  list-style-type: none;
  padding: 3px 4px 3px 23px;
  margin: 0px;
  color: red;
  background: url("images/emblems/emblem-important.png") no-repeat 0 50%;
}
.not-tested,
.new,
ul li.new {
  float: none;
  list-style-type: none;
  padding: 3px 4px 3px 23px;
  margin: 0px;
//  border-bottom: 1px dashed #F0C020;
  background: #FFFFDD url("images/emblems/emblem-new.png") no-repeat 0 50%;
}

/* Operating Systems */
.gnu {
  padding: 3px 4px 3px 23px;
  background: url("images/os/gnu.png") no-repeat 0 50%;
}
.linux {
  padding: 3px 4px 3px 23px;
  background: url("images/os/linux.png") no-repeat 0 50%;
}

/* Places or folders */
.folder {
  padding: 3px 4px 3px 23px;
  background: url("images/places/folder.png") no-repeat 0 50%;
}
.folder_green {
  padding: 3px 4px 3px 23px;
  background: url("images/places/folder_green.png") no-repeat 0 50%;
}
.folder_red {
  padding: 3px 4px 3px 23px;
  background: url("images/places/folder_red.png") no-repeat 0 50%;
}

/* Mimetypes */
.text, .css, .javascript {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/text-x-generic.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
.html, .xhtml, .php {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/text-html.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
.image {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/image.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
.document, .word, .pdf, .oasis_word, .oasis_text {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/x-office-document.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
.ods, .spread, .spreadsheet, .oasis_spreadsheet {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/x-office-spreadsheet.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
.odp, .presentation, .oasis_presentation {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/x-office-presentation.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
.odg, .drawing, .oasis_drawing {
  padding: 3px 4px 3px 23px;
  background-image: url("images/mimetypes/x-office-drawing.png");
  background-repeat: no-repeat;
  background-position: 0px 50%;
}
/* Devices */
.displayconfig {
  padding: 3px 4px 3px 23px;
  background: url("images/devices/display.png") no-repeat 0 50%;
}
.computer {
  padding: 3px 4px 3px 23px;
  background: url("images/devices/computer.png") no-repeat 0 50%;
}
.mobile {
  padding: 3px 4px 3px 23px;
  background: url("images/devices/multimedia-player.png") no-repeat 0 50%;
}
.gameconsole {
  padding: 3px 4px 3px 23px;
  background: url("images/devices/computer.png") no-repeat 0 50%;
}

/* code */
body {
/*  line-height: 100% !important;*/
}
code,
pre {
  font-family: monospace, mono;
  font-size: 0.8em;
  line-height: 120% !important;
  display: block;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  padding: 1em;
  margin: 0em;
}

code,
pre
.code {
  color: #000000;
}
.code-variable {
  color: #0000FF;
}
.code-php,
.code-element {
  font-weight: bold;
  color: #000000;
}
.code-id,
.code-class {
  font-weight: bold;
  color: #800080;
}
.code-property {
  font-weight: bold;
  color: #000000;
}
.code-value {
 color: #800000;
}
.code-text {
 color: #FF0000;
}
.code-comment {
 color: #808080;
}



/* Not in the W3C standards for HTML 4.01  */
applet,
basefont,
center,
dir li,
font,
isindex,
menu li,
s,
strike,
u {
/*  display: block;
  padding: 1em;
  font-weight: normal !important;
  color: gray !important;
  background-color: #FFCCCC !important;
  border: 1px solid #DD7777 !important;*/
}
applet:after,
basefont:after,
center:after,
dir li:after,
font:after,
isindex:after,
menu li:after,
s:after,
strike:after,
u:after {
/*  color: red !important;
  content: " Error: This element is not for (X)HTML 4.x+!";*/
}






